@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap');

*,
*::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Manrope', sans-serif;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background: hsl(218, 23%, 16%);
   height: 100vh;
   user-select: none;
}

.container {
   position: relative;
   background: hsl(217, 19%, 24%);
   width: clamp(300px, 90%, 500px);
   height: 280px;
   padding: 0 1rem;
   padding-top: 1rem;
   border-radius: 10px;
   font-size: 28px;

   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-flow: column;
}

.content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column;
   width: 100%;
   opacity: 1;
   overflow: hidden;
   height: 180px;
   transform: scale(1);
   transition: transform 0.5s, width 0.5s, opacity 0.3s;
}

.content.squish {
   width: 0;
   transform: scale(0);
   opacity: 0;
}

#advice-id {
   color: hsl(150, 100%, 66%);
   text-align: center;
   font-size: 10px;
   font-weight: 400;
   letter-spacing: 0.2rem;
   user-select: text;
}

.advice {
   color: hsl(193, 38%, 86%);
   text-align: center;
   font-weight: 800;
   font-size: 1.4rem;
   margin: 1rem 0 0 0;
   user-select: text;
}

picture {
   position: absolute;
   bottom: 4.5rem;
   left: 50%;
   transform: translate(-50%, 50%);
}

.dice {
   position: absolute;
   bottom: 0;
   left: 50%;
   width: 3.75rem;
   aspect-ratio: 1/1;
   border-radius: 50%;
   transform: translate(-50%, 50%);
   background: url('images/icon-dice.svg');
   background-color: hsl(150, 100%, 66%);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 1.60rem;

   transition: 0.3s;
}

.dice::before {
   --border-thickness: 3px;
   --border-color: hsl(150, 100%, 66%);

   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: calc(100%);
   aspect-ratio: 1/1;
   box-sizing: content-box;
   border-left: var(--border-thickness) solid transparent;
   border-top: var(--border-thickness) solid transparent;
   border-right: var(--border-thickness) solid var(--border-color);
   border-bottom: var(--border-thickness) solid var(--border-color);
   border-radius: 50%;
   opacity: 0;

   transition: 0.5s;
   animation: spin 0.3s infinite linear;
}

.dice.waiting::before {
   opacity: 1;
}

.dice:hover {
   box-shadow: 0 0 1rem hsl(150, 100%, 66%);
}

@keyframes spin {
   0% {
      transform: translate(-50%, -50%) rotate(0turn);
   }

   100% {
      transform: translate(-50%, -50%) rotate(1turn);
   }
}